$color-black: #151515;
$color-red: #e62429;
$color-white: #fff;
$color-orange: #c6a972;
$color-grey: #bbb;

$font-fallback: "Trebuchet MS", Helvetica, Arial, sans-serif;
$font-text: 400 16/1.3 Roboto, $font-fallback;
$font-header: 800 26px RobotoCondensed, $font-fallback;
$font-title: 400 16px/1.1 RobotoCondensed Bold, $font-fallback;

// breakpoints
@mixin for-phone {
  @media (min-width: 576px) {
    @content;
  }
}
@mixin for-tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin for-desktop {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin eyebrow(
  $width: 20px,
  $before-top: -3px,
  $before-left: calc(50%),
  $after-top: calc(100% + 3px),
  $after-left: calc(50% - 53px)
) {
  position: relative;
  &:before,
  &:after {
    background-color: $color-orange;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    transform: rotate(-45deg) skewX(45deg);
    width: $width;
  }
  &:before {
    left: $before-left;
    top: $before-top;
    transform-origin: left bottom;
  }
  &:after {
    left: $after-left;
    top: $after-top;
    transform-origin: right top;
  }
}

body {
  font-family: $font-text;
}
