@import "../../styles/theme.scss";

.container {
  width: 20%;
  max-width: 170px;
  position: relative;
  display: flex;
  align-items: flex-end;
  background-color: $color-black;
  margin-top: 10px;
  &:after {
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 12px 12px 0 0;
    border-color: transparent $color-white transparent transparent;
  }
}

.cover {
  background-color: $color-red;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 215px;
  z-index: 10;
}

.thumb {
  width: 100%;
  height: 210px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.details {
  margin-top: 215px;
  padding: 20px;
}

.title {
  font: $font-title;
  color: $color-white;
}

.descr {
  color: $color-grey;
}
