@import "../styles/theme.scss";

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
}

.title {
  font: $font-header;
  @include eyebrow;
}

.loadMore {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 20px;
  margin-top: 20px;

  &:hover {
    background-color: $color-red;
    color: $color-white;
  }

  &.loading {
  }
}
