@import "../styles/theme.scss";

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 1000;
  background-color: #efefef;
}

.body {
  margin-top: 80px;
  width: 100%;
  flex: 1;
}

.title {
  font: $font-header;
  @include eyebrow;
}

.infoBar {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  background-color: #efefef;
}

.loadMore {
  cursor: pointer;

  &:hover {
    background-color: $color-red;
    color: $color-white;
  }
}
