@import "../styles/theme.scss";

.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid $color-white;
  border-color: $color-white transparent $color-white transparent;
  animation: load-spinner 1.2s linear infinite;
}

@keyframes load-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
